<div class="pr pr-status-{{overdueStatus}}">
    <div class="pr-meta-top">
        <small>{{author}}</small>
        <small class="pr-date">{{date}} <span class="pr-overdue-days">({{overdueDays}} days)</span></small>
        <small class="pr-merge"><strong>{{target}}</strong></small>
    </div>

    <a target="_blank" href="{{url}}">{{name}}</a>
</div>